<!-- <div class="container">
    <div class="row">
      <div id="loader">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="loading"></div>
      </div>
  
      <p class="spinner-message" *ngIf="message && message !== ''">
        {{message}}
      </p>
    </div>
  </div> -->
<!-- <div *ngIf="message && message !== ''"> -->
  <mat-spinner></mat-spinner>
  <!-- <nz-spin nzTip="Loading...">
    <nz-alert
      nzType="info"
      nzMessage="Alert message title"
      nzDescription="Further details about the context of this alert."
    >
    </nz-alert>
  </nz-spin> -->

<!-- </div> -->